*{
    background-color: rgb(58, 249, 249);
    text-align: center;
    line-height: 550px;
}
name{
    
    color:#070606;
    text-shadow: -1px 0 rgb(227, 225, 225), 0 1px rgb(241, 225, 225), 2.5px 0 rgb(216, 157, 157), 0 -1px rgb(184, 178, 178);
    font-size: 50px;
    padding: 15px 20px;
    width: 100px;
    height: 100px;
    border: 1px solid black, dashed;
    border-radius: 10px;
    text-decoration:underline ;
    /* background-color: #000; */

}
